body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    width: 99%;
    height: auto;
    border: 3px black solid;
    padding: 0;
    margin: 0;
}

th {
    border: 1px black solid;
    width: 75%;
    padding: 0;
    margin: 0;
}

#checkTitle {
    width: 75%;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font: 24px Arial, sans-serif;
}

#itemName, #editItem {
    width: 60%;
    height: 15px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    font: 18px Arial, sans-serif;
}

tbody tr {
    padding: 0;
    margin: 0;
    height: 32px;
}

td {
    position: relative;
    border: 1px black solid;
}

td.col1 {
    text-align: center;
    vertical-align: middle;
    width: auto;
    margin: 0;
    padding: 0;
    border: 1px black solid;
}

td.col2 {
    text-align: center;
    vertical-align: middle;
    width: 20%;
}

.checkbox {
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 2px;
    padding: 2px;
}

div.notTable {
    display: block;
    align-items: center;
    text-align: center;
    width: 10%;
    height: 65px
}

#controlBtnContainer {
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
}

#clearBtn {
    position: absolute;
    right: 0;
    margin: 2px;
    padding: 2px;
}

.editButton {
    position: absolute;
    right: 3.5%;
    top: 2px;
    margin: 2px;
    padding: 2px;
}

.deleteButton {
    position: absolute;
    right: 0%;
    top: 2px;
    margin: 2px;
    padding: 2px;
}

.addButton, .removeButton {
    visibility: visible;
    text-align: right;
    vertical-align: middle;
    margin: 2px;
    padding: 2px;
}

.addButton {
    position: absolute;
    right: 20px;
}

.removeButton {
    position: absolute;
    right: 0;
}

div.templateBuilder {
    position: relative;
    margin: 20px;
    margin-top: 30px;
    padding: 10px;
    width: 15%;
    border: 5px black solid;
    border-radius: 8%;
    text-align: center;
}

@media print {

    @page {
    size: letter;
    margin: 0.4in;
    margin-top: 0.3in;
    }

    body, html {
        margin: 0;
        padding: 0;
        height: auto;
        min-height: 0;
    }

    table {
        border-collapse: collapse;
    }

    table, tbody, tr, td, th {
        break-inside: avoid;
        margin: 0;
        padding: 0;
    }

    #controlBtnContainer, #controlBtnContainer *, .notTable, .notTable *, .templateBuilder, .templateBuilder * {
        display: none;
    }
}