body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 100%;
    border: 3px black solid;
    padding: 0;
    margin: 0;
}

th {
    border: 1px black solid;
    padding: 0;
    margin: 0;
}

#checkTitle {
    width: 75%;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font: 24px Arial, sans-serif;
}

#itemName {
    width: 60%;
    height: 15px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    font: 18px Arial, sans-serif;
}

td {
    position: relative;
    padding: 0;
    margin: 0;
    height: 30px;
    border: 1px black solid;
}

td.col1 {
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 95%;
}

td.col2 {
    text-align: center;
    vertical-align: middle;
}

.checkbox {
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 2px;
    padding: 2px;
}

#controlBtnContainer {
    text-align: right;
    margin-top: 10px;
}

.addButton, .removeButton {
    visibility: visible;
    text-align: right;
    vertical-align: middle;
    margin: 2px;
    padding: 2px;
}

.addButton {
    position: absolute;
    right: 20px;
}

.removeButton {
    position: absolute;
    right: 0;
}

div.templateBuilder {
    margin: 20px;
    margin-top: 40px;
    padding: 10px;
    width: 20%;
    border: 5px black solid;
    border-radius: 8%;
    text-align: center;
}

@media print {
    body * {
        visibility: hidden;
    }
    #checklistTable, #checklistTable * {
        visibility: visible;
    }
    #checklistTable {
        position: absolute;
        left: 0;
        top: 0;
    }
    .addButton, .removeButton, #controlBtnContainer {
        visibility: hidden;
    }
}